[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
scikit-learn = "*"
keras = "*"
tensorflow = "*"
mypy = "*"
joblib = "*"

[requires]
